import pandas as pd
import sqlite3

conn = sqlite3.connect("/Users/andresgf91/Capstone/Data/SQL_TEXAS_HARVEY.sqlite")

test = pd.read_sql_query("SELECT CAST(user_id_str as INT) as user_id_str FROM all_texas_tweets limit 100000;", conn)

len(test)

pd.DataFrame.to_csv(dates,path_or_buf = "~/Capstone/Data/raw_dates.csv", index= False)

import pandas as pd
import sqlite3

conn = sqlite3.connect("/Users/andresgf91/Capstone/Data/SQL_TEXAS_HARVEY.sqlite")

tweet_df = pd.read_sql_query("SELECT M.text,CAST(D.id_str as INT) as id_str, M.created_at,\
    CAST(M.user_id_str as INT) as user_id_str, M.name, M.user_lang, M.country_code,M.lang,\
    CAST(M.place_lat as INT)as place_lat, CAST(M.place_lon as INT)as place_lon,\
    CAST(M.lat as INT) as lat, CAST(M.lon as INT) as lon,M.user_county \
    FROM [all_texas_tweets] M JOIN two_year_ids D ON M.id_str=D.id_str LIMIT 10;", conn)

len(tweet_df)

In [ ]:
import pandas as pd
import sqlite3

conn = sqlite3.connect("/Users/andresgf91/Capstone/Data/SQL_TEXAS_HARVEY.sqlite")

tweet_df = pd.read_sql_query("SELECT text,CAST(id_str as INT) as id_str, created_at,\
    CAST(user_id_str as INT) as user_id_str, name, user_lang, country_code,lang,\
    CAST(place_lat as INT)as place_lat, CAST(place_lon as INT)as place_lon,\
    CAST(lat as INT) as lat, CAST(lon as INT) as lon,user_county \
    FROM all_texas_tweets WHERE id_str IN (SELECT id_str FROM two_year_ids);", conn)

len(tweet_df)

In [ ]:
import pandas as pd
import sqlite3

conn = sqlite3.connect("/Users/andresgf91/Capstone/Data/SQL_TEXAS_HARVEY.sqlite")

tweet_df = pd.read_sql_query("SELECT text,CAST(id_str as INT) as id_str, created_at,\
    CAST(user_id_str as INT) as user_id_str, name, user_lang, country_code,lang,\
    CAST(place_lat as INT)as place_lat, CAST(place_lon as INT)as place_lon,\
    CAST(lat as INT) as lat, CAST(lon as INT) as lon,user_county \
    FROM all_texas_tweets;", conn)

len(tweet_df)

In [ ]:
import pandas as pd

botometer = pd.read_csv(filepath_or_buffer="~/Capstone/Data/botometer_2.csv")
len(botometer)

In [ ]:
import numpy as np

non_bots = botometer.loc[botometer['english_score'] < np.float(0.5)]
non_bots = list(non_bots['ids'])
len(non_bots)

In [ ]:
def subset_from_ls(df,colA,ls):
    '''Returns subset of df
    keeping only rows where values in colA appear in ls
    Assumes df is a pandas DataFrame'''
    df = df.loc[df[colA].isin(ls)]
    return(df)

In [ ]:
tweet_df = subset_from_ls(tweet_df,'user_id_str',non_bots)
len(tweet_df)

In [ ]:
def become_a_pickle(data,file_name):
    import pickle
    '''Stores data in a pickle file'''
    with open(file_name, 'wb') as file:
        pickle.dump(data,file, protocol=pickle.HIGHEST_PROTOCOL)
    print('Python',type(data),'object has been pickled')
    
def serve_pickle(file_name):
    import pickle
    '''Retrieves data stored in a pickle file
    returns python object originally saved in pickle file'''
    with open(file_name, 'rb') as file:
        data = pickle.load(file)
    return(data)

In [ ]:
become_a_pickle(data=tweet_df,file_name='/Users/andresgf91/Capstone/Data/tweet_df_temp.pickle')

In [ ]:
#remove users whose primary tweeting languague is not english
tweet_df = tweet_df.loc[tweet_df['user_lang'] == 'en']

#remove tweets that are not in english
tweet_df = tweet_df.loc[tweet_df['lang'] == 'en']

#reset dataframe index
tweet_df = tweet_df.reset_index()
len(tweet_df)

In [ ]:
tweet_df['created_at'] = pd.to_datetime(tweet_df['created_at']).dt.date
print('finished')

change twitter format to regular datetime
change_twitter_dateformat(tweet_df)

def cut_time(df, after='2016-08-24', before = '2018-08-25'):
    len_origi = len(df)
    df = df[(df['created_at'] > after) & (df['created_at'] < before)]
    removed_tweets = len_origi - len(df)
    print(str(removed_tweets) +"/" + str(len_origi) + " have been removed")
    print('Your new df now has tweets only between ' + after + ' and ' + before)
    return(df)

#subset dataframe to include only tweets from a year before and a year after hurricane harvey
tweet_df = cut_time(tweet_df)
len(tweet_df)

In [ ]:
tweet_df = pd.DataFrame.drop_duplicates(tweet_df,subset='id_str')
len(tweet_df)

In [ ]:
conn = sqlite3.connect("/Users/andresgf91/Capstone/Data/SQL_TEXAS_HARVEY.sqlite")

tweet_df.to_sql('target_tweets', con=conn)
#commit changes to database
conn.commit()
#close the connection to SQL database
conn.close()

print("Target table has been saved to SQL database!!!!!!")