In [13]:
%run my_tools.py

vader_sentiments = serve_pickle("/Users/andresgf91/Capstone/Data/vader_py_.pickle")

In [14]:
vader_sentiments = [round(i,2) for i in vader_sentiments]

In [16]:
import pandas as pd
import sqlite3
conn = sqlite3.connect("/Users/andresgf91/Capstone/Data/SQL_TEXAS_HARVEY.sqlite")
import pickle

data = pd.read_sql_query("SELECT id_str,created_at FROM new_target_tweets;", conn)
conn.close()
print("data retrieved")

data retrieved

In [17]:
data['vader'] = vader_sentiments

In [21]:
data = data.drop(columns=['created_at'])

In [24]:
import pandas as pd
import sqlite3
conn = sqlite3.connect("/Users/andresgf91/Capstone/Data/SQL_TEXAS_HARVEY.sqlite")
data.to_sql('vader', con=conn)
conn.commit()
conn.close()

In [29]:
import pandas as pd
import sqlite3
conn = sqlite3.connect("/Users/andresgf91/Capstone/Data/SQL_TEXAS_HARVEY.sqlite")

data = pd.read_sql_query("SELECT vader.id_str, vader.vader, NRC.* FROM vader JOIN NRC ON vader.id_str=NRC.document;", conn)
conn.close()
len(data)

6709336

In [30]:
data=0